# Add in the players that didn't have any positions listed

Read in files:

In [2]:
import pandas as pd

listed_players = pd.read_csv("../../data/raw/listed_players.csv")
unlisted_players = pd.read_csv("../../data/raw/unlisted_players_shortened.csv")
# unlisted_players = pd.read_csv("../../data/raw/unlisted_players.csv")
original = pd.read_csv("../../data/raw/Test2.csv")

Get only the running backs:

In [3]:
unlisted_rbs = unlisted_players[[str(p).lower() == 'rb' for p in unlisted_players['pos']]]

We're adding this many additional players:

In [4]:
len(unlisted_rbs)

0

Find those running backs in the original dataset:

In [5]:
indexes = [False] * len(original)

for i, player in enumerate(original['playerid']):
    if player in list(unlisted_rbs['playerid']):
        indexes[i] = True

new_rbs = original[indexes]

Combine the unlisted rb's with ones listed as rb's and drop the position column:

In [9]:
# keep column position:
combined = listed_players.append(new_rbs)[original.columns.tolist()]

# since all rb's drop that column:
combined = combined.drop(columns=['pos'])

Final data set:

In [7]:
combined.head()

,playerid,year,playername,team,age,g,gs,attempts,yards,tds,longgain,yardsperatt,yardspergame,fumbles
0,AAbduAm00,2020,Ameer Abdullah,MIN,27,6,0,2,7,0,4,3.5,1.2,0
1,AAbduAm00,2019,Ameer Abdullah,MIN,26,16,0,23,115,0,15,5.0,7.2,1
2,AAbduAm00,2017,Ameer Abdullah,DET,24,14,11,165,552,4,34,3.3,39.4,2
3,AAbduAm00,2016,Ameer Abdullah,DET,23,2,2,18,101,0,24,5.6,50.5,0
4,AAbduAm00,2015,Ameer Abdullah,DET,22,16,9,143,597,2,36,4.2,37.3,5

Write to file:

In [8]:
combined.to_csv("../../data/raw/running_backs.csv")