In [11]:
import pandas as pd

players = pd.read_csv("../../data/raw/running_backs.csv")
teams = pd.read_csv("../../data/raw/team_names.csv")
caps = pd.read_csv("../../data/raw/CapInfo.csv")

### Clean CapInfo data:

Convert full team names to their abbreviations:

In [5]:
teamConversion = dict(zip(list(teams["name"]), list(teams["abbr"])))

caps["Team"] = [teamConversion[name] for name in list(caps["Team"])]

Get rid of the commas in the years and dollar values:

In [6]:
def convert(vals):
    return [int(v.replace(',', '')) for v in list(vals)]

caps["Year"] = convert(caps["Year"])
caps["CapHit"] = convert(caps["CapHit"])
caps["CashSpent"] = convert(caps["CashSpent"])

In [7]:
caps.head()

   Year               Player Team    CapHit  CashSpent
0  2026      Ezekiel Elliott  DAL  16600000   16600000
1  2025         Alvin Kamara   NO  25000000   25000000
2  2025      Ezekiel Elliott  DAL  15400000   15400000
3  2025          Dalvin Cook  MIN  13500000   13500000
4  2025  Christian McCaffrey  CAR  12200000   12200000

### Combine CapInfo with running_backs:

In [15]:
"""
for a, b in caps.groupby("Player"):
    try:
        print(b)
        print(players[players["playername"] == a.rstrip()])
        
    except KeyError:
        print("Could not find ", a)
"""

'\nfor a, b in caps.groupby("Player"):\n    try:\n        print(b)\n        print(players[players["playername"] == a.rstrip()])\n        \n    except KeyError:\n        print("Could not find ", a)\n'

In [13]:
players[players["playername"] == "Adrian Peterson"]

,Unnamed: 0,playerid,year,playername,team,age,g,gs,attempts,yards,tds,longgain,yardsperatt,yardspergame,fumbles
1376,1376,PPeteAd00,2009,Adrian Peterson,CHI,30,14,0,7,51,0,15,7.3,3.6,0
1377,1377,PPeteAd00,2008,Adrian Peterson,CHI,29,15,0,20,100,0,16,5.0,6.7,0
1378,1378,PPeteAd00,2007,Adrian Peterson,CHI,28,16,5,151,510,3,21,3.4,31.9,3
1379,1379,PPeteAd00,2006,Adrian Peterson,CHI,27,16,0,10,41,2,11,4.1,2.6,2
1380,1380,PPeteAd00,2005,Adrian Peterson,CHI,26,16,0,76,391,2,36,5.1,24.4,1
1381,1381,PPeteAd00,2004,Adrian Peterson,CHI,25,14,0,6,19,0,13,3.2,1.4,0
1382,1382,PPeteAd00,2003,Adrian Peterson,CHI,24,6,1,22,70,0,10,3.2,11.7,0
1383,1383,PPeteAd00,2002,Adrian Peterson,CHI,23,9,0,19,101,1,14,5.3,11.2,0
1384,1384,PPeteAd01,2020,Adrian Peterson,DET,35,6,4,80,314,2,27,3.9,52.3,0
1385,1385,PPeteAd01,2019,Adrian Peterson,WAS,34,15,15,211,898,5,32,4.3,59.9,3
1386,1386,PPeteAd01,2018,Adrian Peterson,WAS,33,16,16,251,1042,7,90,4.2,65.1,3
1387,1387,PPeteAd01,2017,Adrian Peterson,2TM,32,10,7,156,529,2,27,3.4,52.9,3
1388,1388,PPeteAd01,2016,Adrian Peterson,MIN,31,3,3,37,72,0,13,1.9,24.0,1
1389,1389,PPeteAd01,2015,Adrian Peterson,MIN,30,16,16,327,1485,11,80,4.5,92.8,7
1390,1390,PPeteAd01,2014,Adrian Peterson,MIN,29,1,1,21,75,0,17,3.6,75.0,0
1391,1391,PPeteAd01,2013,Adrian Peterson,MIN,28,14,14,279,1266,10,78,4.5,90.4,5
1392,1392,PPeteAd01,2012,Adrian Peterson,MIN,27,16,16,348,2097,12,82,6.0,131.1,4
1393,1393,PPeteAd01,2011,Adrian Peterson,MIN,26,12,12,208,970,12,54,4.7,80.8,1
1394,1394,PPeteAd01,2010,Adrian Peterson,MIN,25,15,15,283,1298,12,80,4.6,86.5,1
1395,1395,PPeteAd01,2009,Adrian Peterson,MIN,24,16,15,314,1383,18,64,4.4,86.4,7
1396,1396,PPeteAd01,2008,Adrian Peterson,MIN,23,16,15,363,1760,10,67,4.8,110.0,9
1397,1397,PPeteAd01,2007,Adrian Peterson,MIN,22,14,9,238,1341,12,73,5.6,95.8,4

In [45]:
players.head()

,Unnamed: 0,playerid,year,playername,team,age,g,gs,attempts,yards,tds,longgain,yardsperatt,yardspergame,fumbles
0,0,AAbduAm00,2020,Ameer Abdullah,MIN,27,6,0,2,7,0,4,3.5,1.2,0
1,1,AAbduAm00,2019,Ameer Abdullah,MIN,26,16,0,23,115,0,15,5.0,7.2,1
2,2,AAbduAm00,2017,Ameer Abdullah,DET,24,14,11,165,552,4,34,3.3,39.4,2
3,3,AAbduAm00,2016,Ameer Abdullah,DET,23,2,2,18,101,0,24,5.6,50.5,0
4,4,AAbduAm00,2015,Ameer Abdullah,DET,22,16,9,143,597,2,36,4.2,37.3,5