# Gets all the running backs

### TODO
After filling out unlisted_players.csv
* Get the running backs from that file
* Get the other years of those running backs from Test2.csv

---

### Get Running Backs

Import data set:

In [1]:
import pandas as pd

original = pd.read_csv("../../data/raw/Test2.csv")

original.head()

,playerid,year,playername,team,age,pos,g,gs,attempts,yards,tds,longgain,yardsperatt,yardspergame,fumbles
0,AAbduAm00,2020,Ameer Abdullah,MIN,27,NaN,6,0,2,7,0,4,3.5,1.2,0
1,AAbduAm00,2019,Ameer Abdullah,MIN,26,NaN,16,0,23,115,0,15,5.0,7.2,1
2,AAbduAm00,2017,Ameer Abdullah,DET,24,RB,14,11,165,552,4,34,3.3,39.4,2
3,AAbduAm00,2016,Ameer Abdullah,DET,23,NaN,2,2,18,101,0,24,5.6,50.5,0
4,AAbduAm00,2015,Ameer Abdullah,DET,22,RB,16,9,143,597,2,36,4.2,37.3,5

Fill in NaN values and find players with no position listed:

In [2]:
data = original.copy()

# group data frame by each player id
for player_id, group in data.groupby(['playerid']):
    
    # get all of the listed positions of the player:
    positions = list(group['pos'])
    
    # if they were a running back at one point:
    if positions and 'RB' in set(positions):
        
        # fill all NaN as RB:
        for i in range(len(positions)):
            if positions[i] != positions[i]:
                positions[i] = 'RB'
        
        # update data:
        data.loc[data['playerid'] == player_id, 'pos'] = positions

You can see the updates:

In [3]:
data.head()

,playerid,year,playername,team,age,pos,g,gs,attempts,yards,tds,longgain,yardsperatt,yardspergame,fumbles
0,AAbduAm00,2020,Ameer Abdullah,MIN,27,RB,6,0,2,7,0,4,3.5,1.2,0
1,AAbduAm00,2019,Ameer Abdullah,MIN,26,RB,16,0,23,115,0,15,5.0,7.2,1
2,AAbduAm00,2017,Ameer Abdullah,DET,24,RB,14,11,165,552,4,34,3.3,39.4,2
3,AAbduAm00,2016,Ameer Abdullah,DET,23,RB,2,2,18,101,0,24,5.6,50.5,0
4,AAbduAm00,2015,Ameer Abdullah,DET,22,RB,16,9,143,597,2,36,4.2,37.3,5

Remove all non-RB's:

In [4]:
data = data[data['pos'] == 'RB']

Write to file:

In [5]:
data.to_csv('../../data/raw/listed_players.csv')

### Unlisted Players:

In [8]:
unlisted_players = pd.DataFrame()

# group data frame by each player id
for player_id, group in original.groupby(['playerid']):

    # get all of the listed positions of the player:
    positions = list(group['pos'])
    
    # if the only position listed is nan
    if len(set(positions)) == 1 and (positions[0] != positions[0]):
        
        # add only first row of player to unlisted_players
        unlisted_players = unlisted_players.append(original[original['playerid'] == player_id].iloc[0])

In [11]:
unlisted_players.head()

,age,attempts,fumbles,g,gs,longgain,playerid,playername,pos,tds,team,yards,yardsperatt,yardspergame,year
9,29.0,13.0,0.0,9.0,0.0,5.0,AAbduRa00,Rabih Abdullah,NaN,1.0,NWE,13.0,1.0,1.4,2004.0
14,26.0,5.0,4.0,16.0,2.0,13.0,AAdamCh00,Charlie Adams,NaN,0.0,DEN,14.0,2.8,0.9,2005.0
25,25.0,2.0,0.0,6.0,0.0,2.0,AAgneJa00,Jamal Agnew,NaN,0.0,DET,4.0,2.0,0.7,2020.0
49,24.0,16.0,0.0,16.0,0.0,20.0,AAlleAn01,Anthony Allen,NaN,1.0,BAL,61.0,3.8,3.8,2012.0
50,23.0,27.0,0.0,15.0,0.0,46.0,AAlleAr00,Armando Allen,NaN,1.0,CHI,124.0,4.6,8.3,2012.0

Number of players that need to be manually set:

In [10]:
len(unlisted_players)

561

Df to manulaly fill in missing values:

In [8]:
unlisted_players.to_csv('../../data/raw/unlisted_players.csv')

Shortened df (should be easier to fill in values):

In [11]:
unlisted_players[['playerid', 'playername', 'pos']].to_csv('../../data/raw/unlisted_players_shortened.csv')