In [15]:
import seaborn as sns
import pandas as pd

running_backs = pd.read_csv("../../data/processed/combined.csv")

In [16]:
running_backs.head()

,Unnamed: 0,year,playername,team,age,g,gs,attempts,yards,tds,longgain,yardsperatt,yardspergame,fumbles,basesalarycap (10^8),Percenthit (%),caphit (M),cashspent (M)
0,987,2020,Aaron Jones,GNB,26,5,5,75,389,5,75,5.2,77.8,1,1.982,1.100909,2.182002,2.133000
1,988,2019,Aaron Jones,GNB,25,16,16,236,1084,16,56,4.6,67.8,3,1.882,0.369547,0.695487,0.645000
2,989,2018,Aaron Jones,GNB,24,12,8,133,728,8,67,5.5,60.7,1,1.772,0.293098,0.519369,0.468882
3,990,2017,Aaron Jones,GNB,23,12,4,81,448,4,46,5.5,37.3,0,1.670,0.308675,0.515487,0.666948
4,1384,2020,Adrian Peterson,DET,35,6,4,80,314,2,27,3.9,52.3,0,1.982,0.529768,1.050000,1.050000

In [27]:
from scipy.stats import pearsonr



corr, _ = pearsonr(list(running_backs["caphit (M)"]), list(running_backs["yardspergame"]))

print(corr)

0.3625127387521638

In [6]:
import numpy as np

combined_players = pd.DataFrame(columns=[
    "playerid", 
    "playername", 
    "g", 
    "gs", 
    "attempts", 
    "yards", 
    "tds", 
    "longgain", 
    "yardsperatt", 
    "yardspergame", 
    "fumbles"
])

for playerid, df in running_backs.groupby("playerid"):
    combined_players = combined_players.append(dict(zip(list(combined_players.columns),[
        playerid,
        list(df['playername'])[0],
        df['g'].sum(),
        df['gs'].sum(),
        df['attempts'].sum(),
        df['yards'].sum(),
        df['tds'].sum(),
        np.max(df['longgain']),
        (np.dot(df['attempts'], df['yardsperatt']) / np.sum(df['attempts'])),
        (np.dot(df['g'], df['yardspergame']) / np.sum(df['g'])),
        df['fumbles'].sum()
    ])), ignore_index=True)
    

    
combined_players.head()

,playerid,playername,g,gs,attempts,yards,tds,longgain,yardsperatt,yardspergame,fumbles
0,AAbduAm00,Ameer Abdullah,54,22,351,1372,6,36,3.897151,25.403704,8
1,AAbduKa00,Karim Abdul-Jabbar,60,52,1003,3413,33,45,3.415852,56.903333,9
2,AAdamJo03,Josh Adams,19,5,131,531,4,29,4.092366,27.947368,1
3,AAddaJo00,Joseph Addai,78,60,1095,4453,39,46,4.077626,57.103846,7
4,AAjayJa00,Jay Ajayi,45,23,572,2546,13,71,4.455070,56.595556,8